@font-face {
   font-family: Telekom-Icon;
   font-style: normal;
   font-weight: 400;
   src: url(fonts/teleicon-outline.woff) format("woff");
}

@font-face {
   font-family: TeleIconUi;
   font-style: normal;
   font-weight: 400;
   src: url(fonts/teleicon-ui.woff) format("woff");
      
}

@font-face {
   font-family: TeleGroteskScreen;
   font-style: normal;
   font-weight: 200;
   src: url(fonts/telegroteskscreen-thin.woff) format("woff");
}

@font-face {
   font-family: TeleGroteskScreen;
   font-style: normal;
   font-weight: 400;
   src: url(fonts/telegroteskscreen-regular.woff) format("woff");
}

@font-face {
   font-family: TeleGroteskScreen;
   font-style: italic;
   font-weight: 400;
   src: url(fonts/telegroteskscreen-regular-italic.woff) format("woff");
}


@font-face {
   font-family: TeleGroteskScreen;
   font-style: normal;
   font-weight: 700;
   src: url(fonts/telegroteskscreen-bold.woff) format("woff");
}

@font-face {
   font-family: TeleGroteskScreen;
   font-style: normal;
   font-weight: 800;
   src: url(fonts/telegroteskscreen-ultra.woff) format("woff");
}
